@font-face {
  font-family: 'Droid Sans';
  src: font-url('DroidSans-webfont.eot');
  src: font-url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('DroidSans-webfont.woff') format('woff'),
       font-url('DroidSans-webfont.ttf') format('truetype'),
       font-url('DroidSans-webfont.svg#droid_sansregular') format('svg');
}

@font-face {
  font-family: 'Droid Sans';
  src: font-url('DroidSans-Bold-webfont.eot');
  src: font-url('DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('DroidSans-Bold-webfont.woff') format('woff'),
       font-url('DroidSans-Bold-webfont.ttf') format('truetype'),
       font-url('DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
  font-weight: bold;
}
