<!DOCTYPE html>
<html>
  <head>
    <title>LessorAid</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <div id="app">
      <app-nav :current-user="currentUser"></app-nav>
      <app-flash></app-flash>
      <router-view :current-user="currentUser"></router-view>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
